{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Forms | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/supervisor">Supervisor</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Forms</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Record information from de-briefs</h1>

      <p class="govuk-body">Use this form to:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>Record useful from de-briefs</li>
      </ol>      

      <p>Collecting information online will speed up how fast information can be used to help improve the support line for operators and people who call it.</p>

      <a id="button" class="govuk-button black-button" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xtxxhZCF6R71Mt9l74yGzPExUQjJZTjZFNjdCUjdYRTFMWVZPSVEzMVpONSQlQCN0PWcu" target="_blank">Fill out online form</a></p>

    </div>
</div>

{% endblock %}
