{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Stress management | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/supervisor">Supervisor</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Updates to give operators</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Updates to give operators</h1>

      <p class="govuk-body">Give operators these updates before their shift begins.</p>

      <h3 class="govuk-heading-m">Operator Manual has moved</h3>  

      <p class="govuk-body">We have moved the operator manual over to a new home on <a href="https://operator-manual.redcross.org.uk/">operator-manual.redcross.org.uk</a>.</p>

      <p class="govuk-body">The layout has been slightly improved but it is largely the same manual as before. The old manual will now redirect to the new one and we will also be putting this information and new link in the briefing document and shift confirmation email to volunteers. As always feedback is always welcome. </p>

      <h3 class="govuk-heading-m">People request practic support</h3>  

      <p class="govuk-body">Many of the calls have been requesting practical support. Where you receive this type of request, please follow this tool <a href="/refer">Decide to refer someone for urgent support’</a></p>

      <h3 class="govuk-heading-m">Manage expectations</h3>  

      <p class="govuk-body">Our local teams providing practical support are extremely busy supporting people in the community. They are operating under reduced capacity and they are receiving requests not only from the support line but from our partners, local contacts, local office telephone lines and a number of other routes.</p>

      <p class="govuk-body">While teams are reviewing all the requests from the support line, these will take time and they will be making their own assessments on urgency in the face of all the tasks they may need to undertake. It is most likely that requests from the support line will be completed the following day. If you do feel a request is urgent, you can flag this to your supervisor, who will advise the SL manager, however it is important to manage the expectations of the caller and provide reassurance and signpost where necessary. </a></p>

      <h3 class="govuk-heading-m">Remember your training</h3>  

      <p class="govuk-body">Related to the above, people calling the line may come across desperate, angry or frustrated as you will all expect, where you can, use your CALMER skills to listen, reflect and de-escalate and also manage expectations on what they can expect from the BRC. Everyone is working extremely hard to support those most in need wherever we can, but this does take time and we need to ensure we are reaching those most in need first, which doesn’t always mean those who ‘shout the loudest’. </p>

      <h3 class="govuk-heading-m">Try log yourself in</h3>  

      <p class="govuk-body">Logging in and out: Supervisors, can you spend some time with your teams on ensuring they are comfortable with the logging in and out process, perhaps going through it slowly and encouraging them to take their time and not to worry if it doesn’t work first time. I know we’ve been having some difficulties with the system, but we also want to encourage and empower everyone to be able to do this themselves where possible.</p>

      <h3 class="govuk-heading-m">Repeat callers</h3>  

      <p class="govuk-body">We have had a few repeat callers, ensure that people are signposted to the most appropriate service for them, this is a line for people heavily impacted by Covid-19 with no supports around.</p>

      <h3 class="govuk-heading-m">WhatsApp</h3>  

      <p class="govuk-body">We will be looking to shut down the large WhatsApp group next week as the group of operators grows so it will be good to think about how you want to communicate with your team going forward.</p>

    </div>
</div>

{% endblock %}
