{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Safeguarding concern | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Safeguarding concern</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/safeguard/immediate-risk" method="post" class="form">

        <h1 class="govuk-heading-xl">
          Decide what to do about a safeguarding concern
        </h1>

        <p>
          Use this tool to decide what to do if you have a safeguarding concern about someone.  
        </p>

        <p>
          It usually takes about 3 minutes. 
        </p>

        <button class="govuk-button black-button" data-module="govuk-button">Start now</button>

      </form>

      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/training/contact-safeguarding">Contact safeguarding team</a>
        </li>
        <li>
          <a href="/training/adult-abuse-indicators">Adult abuse indicators</a>
        </li>
        <li>
          <a href="/training/child-and-young-person-abuse-indicators">Child and young person abuse indicators</a>
        </li>
        <li>
          <a href="/training/responding-to-disclosure">How to respond to a disclosure</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
