{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Safeguarding concern | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Safeguarding concern</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-m">Advice not needed</span>
        <h1 class="govuk-heading-xl">
          What you should do
        </h1>

        <ol class="govuk-list govuk-list--number">
          <li>No further safeguarding action is needed</li>
          <li><a href="/personal-information/forms">Record information from the call</a></li>
        </ol>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Any allegation of abuse or harm against a British Red Cross representative must be reported to the <a href="/training/contact-safeguarding">Safeguarding Assurance Team</a> promptly.
          </strong>
        </div>

        <a href="/safeguard/already-supported" class="govuk-button govuk-button--secondary">Back to last question</a>

    </div>
  </div>
{% endblock %}
