{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Suicide and self-harm | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Suicide and self-harm</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Suicide and self-harm</h1>

      <p class="govuk-body">When a 'suicidal caller' or someone in extreme distress contacts the Samaritans or the British Red Cross, the shared response is to listen and not to judge. The Samaritans will not usually intervene or prompt an intervention unless the person specifically asks them to e.g. “Please call me an ambulance, I've taken an overdose of x and my address is x.”</p>

      <p class="govuk-body">If they know where a person is, they may decide to call an ambulance, even if they have not been asked to, depending on what other information they have.</p>

      <h3 class="govuk-heading-m">Supporting distressed callers</h3>

      <p class="govuk-body">Use the <a href="/training/calmer-framework">CALMER framework</a> and respond on a case by case basis in line with us taking a 'person-centred approach'. British Red Cross will always consider taking action if we believe a person is at risk of harm or abuse and will act if we have a 'reasonable belief' that the person cannot make their own informed decision at the time they need to make it.</p>

      <p class="govuk-body">In the event of a threat of suicide use the CALMER framework to work through the following steps, in a calm and thoughtful manner:</p>

      <h4 class="govuk-heading-s">Consider</h4>

      <p class="govuk-body">Consider your safety as well as the person in crisis: ensure that someone else knows the situation and that you are not left alone to deal with it yourself.</p>

      <p class="govuk-body">Note that someone who has a history of self-harm and suicidal attempts is at greater risk of killing themselves (whether intentionally or not). In order to work out how best to support the person, consider gently asking the following questions:</p>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>Have they attempted suicide or self-harmed in the past? If so, when?</li>
        <li>What, if anything stopped them from harming themselves or trying to kill themselves the last time?</li>
        <li>Do they have any plans to attempt it again in the future? If so, how and when?</li>
        <li>Do they have access to a method? If so, what?</li>
        <li>Do they have any support currently or anyone who could be contacted? If so, who and how?</li>
      </ul>

      <p class="govuk-body">These questions should be asked in order to support the person in crisis, rather than make a judgment about how serious their feelings and wishes are. It would not be helpful if the person felt that they needed to escalate their account or behaviour in order to feel they will be taken seriously. As well as helping the person to talk more about how they feel and what might have changed, this information can also then inform any decisions the line manager/safeguarding officer may need to make e.g. a referral to the local authority adult safeguarding team.</p>

      <p class="govuk-body">It is also important to consider whether the person represents a danger to others, including volunteers and staff. If a risk is felt to exist, appropriate measures should be followed to keep yourself safe and protect the safety of others, such as contacting the police.</p>

      <p class="govuk-body">If the person in crisis who is threatening to harm themselves or is talking of suicide is a child, then we must treat this as a safeguarding issue requiring statutory intervention. It is possible, and even likely, that other professionals supporting the child are aware of the situation, but we cannot assume this, or ignore the concern on the basis that we believe someone else is working with the child to keep them safe. In such instances, the Safeguarding children and Young People Policy should be followed, which will mean contacting the local SPO as an initial step. It is good practice to inform the child that you are referring to a colleague unless to do so is likely to expose the child to further harm, for example add to their agitation or provoke them into acting rashly.</p>

      <div class="govuk-inset-text">
        If you are unsure about a situation, always contact emergency services who are equipped and experienced in managing these situations on a regular basis.
      </div>

      <h4 class="govuk-heading-s">Acknowledge</h4>
      <p class="govuk-body">Acknowledge - that you want to help and that you take what they have said very seriously.</p>

      <h4 class="govuk-heading-s">Listen</h4>
      <p class="govuk-body">Listen (actively) with empathy – avoid making assumptions and judgements and offer the person a space to be heard and supported. Ask them what has led to them feeling that they want to kill themselves, so that they have the opportunity to talk about their experiences/situation if they want to. You should also respect their decision not to talk and not force them to do so.</p>

      <h4 class="govuk-heading-s">Manage</h4>
      <p class="govuk-body">Manage - by promoting dignity, respect and privacy: find somewhere private to talk with the person in crisis (where colleagues know where you are). Let them know that you will need to advise a colleague (usually a safeguarding officer or line manager) what they have told you, and that you wish to be supportive. You may need to leave the person alone for a short time to do this – so let them know that you will return, and provide guidance about how long this will be (e.g. ten/fifteen minutes). In addition, ask someone to keep an eye on the individual and let you know immediately if they leave while you are away.</p>

      <p class="govuk-body">Ensure an accurate record of what was said by the client, particularly with regard to the above questions, and the response from the staff/volunteer is written up as soon as possible. Record who else was informed, together with any actions. The line manager and Safeguarding Adult Officer (or Safeguarding and Protection Officer if the person at risk of harming themselves is a child or young person) should always be informed of any threat of suicide or similar incident (e.g. self-harm). Ensure the incident reporting processes are followed (see below).</p>

      <h4 class="govuk-heading-s">Enable</h4>
      <p class="govuk-body">Enable - by exploring options – they may feel as if they have none; if this is the case, acknowledge this is how they feel, and offer to think with them about where they may access further support – even if this will not remove the problem itself. Where possible, facilitate choice, e.g. if there is a person/place which might be helpful, how can they make contact? When offering a follow-up meeting/time to talk – find out when this would be best for the person and keep to your commitments with them.</p>

      <h4 class="govuk-heading-s">Resource</h4>
      <p class="govuk-body">Resource - ensure your team/s have the local number for the Samaritans and do recommend that the person in crisis call them. Staff and volunteers who have experienced someone threatening suicide or their intention to self-harm can also obtain advice and support through the Samaritans. Remember that dealing with any suicide threat is difficult and can be overwhelming; so consider what further support the staff/volunteer requires before they leave the office. Ensure that the staff/volunteer receives supportive follow-up by a line manager and/or peer. Supporting Staff exposed to Intense Events guidance is available on RedRoom.</p>

      <h3 class="govuk-heading-m">The difference between suicide and self-harm</h3>
      <p class="govuk-body">Suicide can be considered a form of self-harm but there are differences between the two; this difference centres on intent. People who are suicidal usually intend to end their own life.</p>

      <p class="govuk-body">People who self-harm can do so as a way to manage and/or cope with difficult emotions, and not because they want to die. People who self-harm may go on to became suicidal and an unintended consequence of self-harming can be death. Regardless of whether you encounter someone who is self-harming or suicidal, you have a duty of care to support people at risk, so they can consider their options and can access the help they need.</p>

      <h3 class="govuk-heading-m">Explore someone's intent</h3>

      <p class="govuk-body">If you have any reason to believe someone may harm or kill themselves, it is important to ask them the following question:</p>

      <div class="govuk-inset-text">
        Do you have any current or recent plans or thoughts about harming or killing yourself?
      </div>

      <p class="govuk-body">Ask this question if the person presents with low mood or if you experience them as feeling hopeless, desperate, distressed, alone or isolated with little or no support. In addition, they may have said something that may suggest they may be at risk. Trust your intuition. It is better to ask and be told someone isn’t suicidal or self-harming than not to have asked at all.</p>

      <p class="govuk-body">This question will help you to assess risk, support them in getting the help they need and allow them the space and the opportunity to talk about how they feel and think about the support they may need, the latter of which contributes to a decreased risk for the person. The question will not make them more likely to kill or harm themselves or put ideas in their head.</p>

      <p class="govuk-body">Their responses will determine what action you take next.</p>

      <h4 class="govuk-heading-s">A. Has a current plan - high risk - urgent action needed</h4>

      <p class="govuk-body">The more detailed the plan the higher risk the person in crisis may be with regards to harming themselves or taking their own life. Ask about this plan, whether they have left a note or if they have acquired a method e.g. access to medication for an overdose.</p>

      <p class="govuk-body">Ask them what has stopped them from acting on their plan so far; this question is useful for assessing protective factors i.e. what has stopped them from taking their life so far. It may be useful in focusing on their resilience, support networks and motivation to live. Be sure not to interrogate or bombard them with questions and focus on active listening with empathy (Remember the Acknowledge, Listen, Manage and Enable stages from CALMER).</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If the person in crisis is at immediate risk of harm call the police or ambulance service
        </strong>
      </div>

      <h4 class="govuk-heading-s">B. Has thoughts (current or recent) - medium risk - action needed</h4>

      <p class="govuk-body">If the person in crisis has thoughts but no plans, listen with empathy. You may want to ask what has led them to feel this way and the reasons why they have not acted on these thoughts. Enquire what they may need to stop the thoughts becoming plans, and explore with them which other sources of supports e.g. GP, Samaritans, friends and family, may feel the most helpful and be the most appropriate.</p>

      <h4 class="govuk-heading-s">C. No thoughts - low risk - action still needed</h4>

      <p class="govuk-body">Responding to someone who self-harms or is suicidal can be very distressing. Remember to think about what you need during and after an encounter with such a person. Keep safe. Make sure your colleagues know where you are and what is going on, call on them if you need to. Ensure you are able to access YOUR support network, meet your supervisor for a debrief. 


      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/training/contact-safeguarding">Contact safeguarding team</a>
        </li>
        <li>
          <a href="/safeguard">Decide what to do about a safeguarding concern</a>
        </li>
        <li>
          <a href="/training/adult-abuse-indicators">Adult abuse indicators</a>
        </li>
        <li>
          <a href="/training/child-and-young-person-abuse-indicators">Child and young person abuse indicators</a>
        </li>
        <li>
          <a href="/training/responding-to-disclosure">How to respond to a disclosure</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}

