{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Suicide and self-harm | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Suicide and self-harm</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Suicide and self-harm</h1>

      <p class="govuk-body">Practical information to help you when talking to callers feeling suicidal. How to respond fully is covered in training.</p>

      <div class="govuk-inset-text">
        <a href="/support-for-operators/speak-to-supervisor">Speak to your supervisor</a> or <a href="/training/contact-safeguarding">contact safeguarding team</a> if you're not sure what to do.
      </div>      

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If the person in crisis is at immediate risk of harm call the police or ambulance service
        </strong>
      </div>

      <h3 class="govuk-heading-m">Not judging like Samaritans</h3>

      <p class="govuk-body">When a 'suicidal caller' or someone in extreme distress contacts the he British Red Cross like Samaritans, remember to listen and not to judge. 

      For example Samaritans “Please call me an ambulance, I've taken an overdose of x and my address is x.”</p>

      <p class="govuk-body">If they know where a person is, they may decide to call an ambulance, even if they have not been asked to, depending on what other information they have.</p>

      <h3 class="govuk-heading-m">Questions you could ask</h3>

      <p class="govuk-body">This list of questions is not meant to be exhaustive and they may not always be appropriate. They are just examples of responses that may be helpful.</p>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>Have they attempted suicide or self-harmed in the past? If so, when?</li>
        <li>What, if anything stopped them from harming themselves or trying to kill themselves the last time?</li>
        <li>Do they have any plans to attempt it again in the future? If so, how and when?</li>
        <li>Do they have access to a method? If so, what?</li>
        <li>Do they have any support currently or anyone who could be contacted? If so, who and how?</li>
      </ul>

      <h3 class="govuk-heading-m">The difference between suicide and self-harm</h3>

      <p class="govuk-body">Suicide and self-harm are different. The main different is someone's intent. People who are suicidal usually intend to end their own life.</p>

      <p class="govuk-body">People who self-harm can do so as a way to manage and/or cope with difficult emotions, and not because they want to die. People who self-harm may go on to became suicidal and an unintended consequence of self-harming can be death.</p>

      <h3 class="govuk-heading-m">Understanding intent</h3>

      <p class="govuk-body">Learn about a callers intent, if you have any reason to believe they may harm or kill themselves, 

      <p class="govuk-body">To understand a callers intent, ask them:</p>

      <div class="govuk-inset-text">
        Do you have any current or recent plans or thoughts about harming or killing yourself?
      </div>

      <p class="govuk-body">Their responses will determine what action you take next.</p>

      <h3 class="govuk-heading-m">Callers with plans - high risk</h4>

      <p class="govuk-body">The more detailed the plan the higher risk the caller may be with to harming themselves or taking their own life. 

      <p class="govuk-body">Follow-up questions you could ask:</p>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>What is your plan?</li>
        <li>Have you left a note?</li>
        <li>Do you have a way to kill yourself? For example medication for an overdose</li>
        <li>What stopped you acting on your plan so far</li>
      </ul>

      <p class="govuk-body">Be sure not to interrogate or bombard them with questions and focus on active listening with empathy</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If the person in crisis is at immediate risk of harm call the police or ambulance service
        </strong>
      </div>

      <h3 class="govuk-heading-m">Callers with suicidal thoughts - medium risk</h3>

      <p class="govuk-body">If the person in crisis has thoughts but no plans, listen with empathy. You may want to ask what has led them to feel this way and the reasons why they have not acted on these thoughts. Enquire what they may need to stop the thoughts becoming plans, and explore with them which other sources of supports e.g. GP, Samaritans, friends and family, may feel the most helpful and be the most appropriate.</p>

      <h3 class="govuk-heading-m">Support for you</h3>

      <p class="govuk-body">Responding to someone who self-harms or is suicidal can be very distressing. Remember to think about what you need during and after an encounter with such a person.</p>

      <p class="govuk-body">Your supervisor is there for you:</p>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>Tell them whay is going on</li>
        <li>Call them for support</li>
        <li>Debrief you afterr a difficult call</li>
      </ul>


      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/training/contact-safeguarding">Contact safeguarding team</a>
        </li>
        <li>
          <a href="/safeguard">Decide what to do about a safeguarding concern</a>
        </li>
        <li>
          <a href="/training/adult-abuse-indicators">Adult abuse indicators</a>
        </li>
        <li>
          <a href="/training/child-and-young-person-abuse-indicators">Child and young person abuse indicators</a>
        </li>
        <li>
          <a href="/training/responding-to-disclosure">How to respond to a disclosure</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}

