
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Training needed | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Training needed</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Training needed for roles on the support line</h1>
    </div>

    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Training</th>
            <th scope="col" class="govuk-table__header">Operator</th>
            <th scope="col" class="govuk-table__header">Supervisor</th>
            <th scope="col" class="govuk-table__header">Tutor</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Welcome to the British Red Cross e-learning 2019 (FTP E-learning is its previous version)</th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Covid-19 Module FUSE/ IFRC</th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Safeguarding On-line module FUSE/ IFRC
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Il-Additional Safeguarding Zoom
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Recommended</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Recommended</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Recommended</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Professional boundaries for re-deployment FUSE/IFRC
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CALMER FUSE/IFRC
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Supporting Yourself and Others (CALMER), Zoom 2x 2hrs
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Recommended</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Recommended</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Recommended</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Support Line Operator Training, Zoom (2hrs)
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Support Line Operator Manual E-learning FUSE/IFRC
            (In development)
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Managing Volunteers. Anything available on FUSE? Ask Fergus D
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Shadow Support Line Training
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Zoom for Facilitators, Zoom Session
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Current Training experience (BRC tutor, RCT Trainer, L&D, Teacher, similar qualification)
            </th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Must have</strong>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
</div>

{% endblock %}
