
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Content style guide | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Content style guide</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Content style guide</h1>

      <p class="govuk-body">Make content on the operator manual is findable, useful and clear. 

      <p class="govuk-body">Use these <a href="https://www.gov.uk/guidance/content-design">content design guidelines</a> for planning, writing and managing content for the operator manual.</p>

      <p class="govuk-body">The manual copies content design practices used on the award-winning GOV.UK. British Red Cross has also <a href="https://docs.google.com/document/d/1avKjuI_cwQZsQpNzZ36RCBhJdcLih7ILinn4mTdKqvQ/edit">started a style guide</a>, but it is early days.</p>

      <p>Both style guides recommend:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>Use active verbs</li>
        <li>Short, simple sentences</li>
        <li>Use Plain English</li>
        <li>Write few words as possible</li>
        <li>Break big blocks of content into small, understandable parts</li>
        <li>Test content with your users</li>
        <li>Avoid acronyms</li>
        <li>Avoid technical or expert language</li>
      </ol>

    </div>
</div>

{% endblock %}
